extends ../base.jade


block body
    +document(['compact', 'zoom-75'])
    br
    +document(['compact', 'zoom-100'])
    br
    +document(['compact', 'zoom-200'])
    br
    +document(['compact', 'zoom-300'])
    br
    +document(['compact', 'zoom-75', 'theme-dark'])
    br
    +document(['compact', 'zoom-100', 'theme-dark'])
    br
    +document(['compact', 'zoom-200', 'theme-dark'])
    br
    +document(['compact', 'zoom-300', 'theme-dark'])
    br
