.nn {

    overflow: hidden;
    outline: none;


    &__doc-contentbox {
        width: 10000px;
    }


    &__doc-content {
        display: inline-block;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    &__node {
        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }


    &__node-databox {
        display: inline-block;
        vertical-align: middle;
        outline: none;
        border-style: solid;
        border-color: transparent;
        max-width: 27em;
        font-family: 'Roboto Condensed', 'Arial', sans-serif;
        font-weight: 300;
        line-height: 1.4;
    }


    &__node-data {
        min-width: 0.2em;
        &:before {
            content: '\200B'; // zero width space
        }
    }

    .nn__node_editing >
    .nn__node-databox >
    &__node-data {
        outline: none;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }


    &__node-nested {
        display: inline-block;
        vertical-align: middle;
        border-left-style: solid;
    }

}
