.theme(
    @text-color;
    @background-color;
    @bracket-color;
    @selection-color;
    @selection-color-editmode;
    @selection-color-inactive;
) {

    .nn__doc-scrollbox {
        color: @text-color;
        background: @background-color;
    }


    .nn__node-databox_selected {
        border-color: @selection-color;
    }
    &.nn_inactive {
        .nn__node-databox_selected {
            border-color: @selection-color-inactive;
        }
    }
    .nn__node-databox_editing {
        box-shadow: 0 0 0.8em mix(@selection-color-editmode, transparent, 40%);
        border-color: @selection-color-editmode;
    }


    .nn__node-nested {
        border-left-color: @bracket-color;
        background: @background-color;
    }

}


.theme(
    /*@text-color:*/ #000;
    /*@background-color:*/ #fff;
    /*@bracket-color:*/ #bbb;
    /*@selection-color:*/ #2d6feb;
    /*@selection-color-editmode:*/ #bc54d2;
    /*@selection-color-inactive:*/ #666;
);


.nn_theme-dark {
    .theme(
        /*@text-color:*/ #f5f5f5;
        /*@background-color:*/ #464646;
        /*@bracket-color:*/ #888;
        /*@selection-color:*/ #4da4f9;
        /*@selection-color-editmode:*/ #e87dff;
        /*@selection-color-inactive:*/ #ccc;
    );
}
